th, td, table
{
    border: 3px solid black;
}
table 
{
    border-collapse: collapse;
    width: 70%;
}
td
{
    text-align: center;
}
body
{
    background-color: #ff9349;
    margin: 0px;
    justify-content: center;
    text-align: center;
}
#maintable, #carttable
{
    margin-left: auto;
    margin-right: auto;
}
#maintable
{
    margin-top: 20px;
}
#main
{
    background-color:red;
}
img
{
	width: 100px;
	height: 100px;
}
.description
{
    position: relative;
    display: inline-block;
}
.description-content 
{
    display: none;
    position: absolute;
    background-color: lightgrey;
    border: 3px solid darkgrey;
    min-width: 400px;
    padding: 12px 16px;
    z-index: 2;
    border-radius: 10px;
    font-family: verdana;
    text-align: left;
}
span:hover
{
    color: #8751ff;
}
.description:hover .description-content 
{
    display: block;
}
.footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    color: black;
    background-color: lightgrey;
    border: 2px solid darkgrey;
    text-align: center;
}
.navbar
{
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: transparent;
}
.navbar a
{
    float: center;
    display: block;
    text-decoration: none;
    font-family: verdana;
    padding-top: 10px;
    height: 30px;
}
.mainlist, .cartlist
{
    background-color: lightGray;
    border: 2px solid black;
    border-radius: 15px;
}
.mainlist:hover, .cartlist:hover, #headercell:hover
{
    background-color: lightblue;
}

.removeAll
{
  background-color: lightGray;
  border: 2px solid black;
  border-radius: 15px;
}

.removeAll:hover
{
  background-color: red;
}
.carth1
{
    padding-top: 45px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: 0px;
    font-family: verdana;
}
#headertable
{
    table-layout: fixed;
    width: 100%;
}
#headertable, #headerrow, #headercell
{
    border: 2px solid darkgrey;
}
#headercell
{
    background-color: lightgrey;
    height: 40px;
}
.center{
    text-align: center;
    font-size: 50px;
    background-color: grey;
}

.salesum{
    
    display: flex;
    
    justify-content: center;
    
}

#user-info{
    width:50%;
}

#checkoutform label{
    font-size: 20px;
    text-align: left
    
}

#summaryt{
    border-style:solid;
}

#user-info{
    border-style:solid;
}

.confirmation{
    font-size: 100px;
}

#order-recieved{
    font-size: 50px;
}
